[Unit]
Description=u2u_node
After=network.target

[Service]
Type=simple
User=USER
WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/u2u_node
Restart=no

[Install]
WantedBy=multi-user.target

